airflow/dags/data/
airflow/dags/logs/
airflow/logs/
test/
terraform/.terraform
.env
.streamlit/secrets.toml
set_env.sh
Plotly.ipynb
Testing.ipynb
run_airflow.py
start-vm-function/
**/.devcontainer/
**/.ipynb_checkpoints/
**/.DS_Store
/venv/
logs/
streamlit_data/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
agstyler/__pycache__ 
agstyler/agstyler.egg-info
/airflow/dags/__pycache__/
/airflow/dags/schemas/__pycache__/
/airflow/dags/scripts/python/__pycache__/
/airflow/dags/scripts/python/.ipynb_checkpoints/__pycache__/
/venv/lib/python3.12/site-packages/pyflakes/test/__pycache__/
