airflow/dags/data/
airflow/dags/logs/
airflow/logs/
test/
terraform/.terraform
.env
.streamlit/secrets.toml
set_env.sh
Plotly.ipynb
Testing.ipynb
run_airflow.py
start-vm-function/
**/.devcontainer/
**/.ipynb_checkpoints/
**/.DS_Store
/venv/
logs/
streamlit_data/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
agstyler/__pycache__ 
agstyler/agstyler.egg-info
